body {
    margin: 0px;
    width: 100%;
}

.navbar {
    background-color: #2196F3;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.19);
}

#subreddit {
    background-color: #2196F3;
    border: solid 3px #2196F3;
    width: 200px;
    border-radius: 3px;
    transition: border 0.3s;
    font-size: 20px;
    color: white;
    display: block;
    vertical-align: middle;
    line-height: 30px;
    margin: 8px 144px;
    text-align: center;
    transition: background-color 0.5s;
}

#subreddit:focus {
    background-color: #64B5F6;
}

#cardholder {
    padding-top: 56px;
}

.card {
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.19);
    padding: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.cardtitle {
    font-size: 30px;
    font-family: roboto;
    margin: 0px;
    color: darkslategray;
    margin-bottom: 16px;
}