body {
    background-color: whitesmoke;
    margin: 0px;
    width: 100%;
}

.navbar {
    background-color: #2196F3;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.19);
    border: 0px;
}

#subreddit {
    background-color: #2196F3;
    border: solid 3px #2196F3;
    border-radius: 3px;
    transition: border 0.3s;
    font-size: 20px;
    color: white;
    margin: 8px auto;
    display: block;
    line-height: 30px;
    text-align: center;
    transition: background-color 0.5s;
    text-transform: lowercase;
    letter-spacing: 3px;
}

#subreddit::selection {
    background-color: white;
    color: black;
}

#subreddit:focus {
    background-color: #64B5F6;
}

#subreddit:hover {
    background-color: #64B5F6;
}

.card {
    background-color: white;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.19);
    padding: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.cardtitle {
    font-size: 30px;
    font-family: roboto;
    margin: 0px;
    color: darkslategray;
    margin-bottom: 16px;
}

.row {
    margin: 0px 24px;
}

.container {
    padding-top: 66px;
    padding-bottom: 8px;
}

.thumb {
    width: 200px;
    height: 200px;
    background-position: center center;
    background-size: cover;
}
