body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background-color: #EEEEEE;
    padding: 0;
    margin: 0;
}

#app {
    margin: 0;
}

#post-holder {
    padding: 50px 8px 0 8px;
    /*transition: padding-left .8s ease-in-out;*/
}

#post-holder.squeeze {
    /*padding-left: 308px;*/
}

#toolbar {
    background-color: #2979FF;
    position: fixed;
    width: 100%;
    z-index: 10;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#toolbar-title {
    font-family: Helvetica;
    color: white;
    font-size: 1.25em;
    letter-spacing: 1px;
}

#side-panel {
    width: 300px;
    height: calc(100vh - 50px);
    top: 50px;
    position: fixed;
    transition: transform .5s ease-in-out;
    transform: translate3d(-302px, 0, 0);
    background-color: white;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.12), 1px 0px 2px rgba(0, 0, 0, 0.24);
}

#side-panel.active {
    transform: translate3d(0, 0, 0);
}

#menu-div-holder {
    width: 16px;
    height: 16px;
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
}
#menu-div-holder.active {
    transform: rotate(180deg);
}
#menu-div-holder:hover {
    cursor: pointer;
}
#menu-1 {
    /*test*/
    width: 16px;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
}
#menu-2 {
    width: 16px;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
}
#menu-3 {
    width: 16px;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
}
#menu-1.active {
    transform: translate3d(7px,2px,0) rotate(40deg);
    width: 12px;
}
#menu-2.active {
    /*transform: translate3d(-7px,0,0);*/
    width: 18px;
}
#menu-3.active {
    transform: translate3d(7px,-2px,0) rotate(-40deg);
    width: 12px;
}

.card {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 16px;
    text-align: left;
}

.post {
    max-width: 750px;
    margin: 8px auto;
}


/* min 800 px width */

@media only screen and (min-width: 800px) {
    #post-holder {
        padding: 50px 8px 0 8px;
        transition: padding-left .8s ease-in-out;
    }
    #post-holder.squeeze {
        padding-left: 308px;
    }
}
